@import "tailwindcss";
:root {
  --text-color: #000;
  --bg-color: white;
  --description-color: #030526;
  --menu-bg: white;
  --navbar-bg: white;
  --hero-bg: #f2f0f1;
  --black-btn-bg: black;
  --black-btn-text: white;
  --comment-bg: white;
}
.dark {
  --text-color: #ffffff;
  --bg-color: #191717;
  --description-color: white;
  --menu-bg: #191717;
  --navbar-bg: #191717;
  --hero-bg: rgb(17, 16, 16);
  --black-btn-bg: #ffffff;
  --black-btn-text: black;
  --comment-bg: white;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}

.title {
  font-family: "Special Gothic Expanded One", sans-serif;
}
.description {
  color: var(--description-color);
  opacity: 0.7;
}
.menu {
  background-color: var(--menu-bg);
}
.navbar {
  background-color: var(--navbar-bg);
}

.hero {
  background-color: var(--hero-bg);
}
.blackbtn {
  background-color: var(--black-btn-bg);
  color: var(--black-btn-text);
}
.comment {
  background-color: var(--comment-bg);
}
